html {
  height: 100%;
  max-height: 100%;
  font-size: 62.5%;
}
body {
  font-family: 'Patrick Hand', cursive;
  font-size: 1.6rem;
  background: url("/img/wood/PNGs/Melamine-wood-004.png");
}
#pen {
  position: absolute;
  left: 60%;
  top: 0;
}
a {
  color: #00b7ff;
}
p {
  color: #333;
  margin-top: 0;
}
.book-content .page-container {
  background: url("/img/pages.png") 0 0;
}
.book-content .page-container.right-side {
  background-position: 460px 0;
}
.book-content .page-container .page-content {
  box-sizing: border-box;
  height: 100%;
  padding: 1.5em 2.5em;
}
.book-content #page1 {
  -webkit-box-shadow: inset 5px 0 10px rgba(0,0,0,0.5);
  -moz-box-shadow: inset 5px 0 10px rgba(0,0,0,0.5);
  box-shadow: inset 5px 0 10px rgba(0,0,0,0.5);
}
.book-content #page2 {
  -webkit-box-shadow: inset 10px 0 20px rgba(0,0,0,0.5);
  -moz-box-shadow: inset 10px 0 20px rgba(0,0,0,0.5);
  box-shadow: inset 10px 0 20px rgba(0,0,0,0.5);
}
.book-content .page-container.left-side,
.book-content .page-container.left-side .page-content {
  -webkit-border-radius: 10px 0 0 10px;
  -moz-border-radius: 10px 0 0 10px;
  border-radius: 10px 0 0 10px;
}
.book-content .page-container.right-side,
.book-content .page-container.right-side .page-content {
  -webkit-border-radius: 0 10px 10px 0;
  -moz-border-radius: 0 10px 10px 0;
  border-radius: 0 10px 10px 0;
}
.book-content #page1,
.book-content #page2,
.book-content .pre-last,
.book-content .last {
  background: #2a4f96;
  color: #fff;
}
.book-content #page1:after,
.book-content #page2:after,
.book-content .pre-last:after,
.book-content .last:after {
  content: '';
  position: absolute;
  top: 0;
  left: 10px;
  bottom: 0;
  width: 3px;
  background: rgba(0,0,0,0.06);
  box-shadow: 1px 0 3px rgba(255,255,255,0.1);
}
.book-content #page1 .chunk,
.book-content #page2 .chunk,
.book-content .pre-last .chunk,
.book-content .last .chunk {
  height: 100%;
}
.book-content #page1 .chunk p,
.book-content #page2 .chunk p,
.book-content .pre-last .chunk p,
.book-content .last .chunk p {
  color: #fff;
}
.page-content a {
  text-decoration: none;
}
.page-content a:hover {
  text-decoration: underline;
}
.page-content img {
  float: left;
  margin: 0 1em 1em 0;
}
.page-content h1 {
  font-size: 3.5em;
  color: #414141;
}
.page-content h2 {
  font-size: 2em;
  color: #2db5ee;
}
.page-content h3 {
  border-radius: 15px;
  color: #80dbf7;
  background-color: #2db5ee;
  padding: 25;
}
.page-content h4 {
  font-size: 1.15em;
  color: #2db5ee;
}
.page-content h5 {
  font-size: 1.15em;
  color: #414141;
}
.page-content h6 {
  font-size: 1.15em;
  color: #f34a5f;
}
.st-outer {
  font-size: 14px;
}
.st-block__inner {
  border: 0;
}
.st-block-ui-btn,
.st-block-control-ui-btn {
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5em;
}
.st-block-controls {
  background-color: transparent;
  padding: 0;
}
.st-block-control {
  font-size: 1em;
}
